.main {
  font-size: 24px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border: 1px solid #dbdbdb;
  transition: box-shadow 0.2s ease, border 0.2s ease;
  background: #fff;
  cursor: text;
}
